.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.billing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buy-button {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  margin: 0px 10px;
  border-color: green;
  color: green;
}

.remove-button {
  width: 100px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  margin: 0px 10px;
  border-color: red;
  color: red;
}

.table-header {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
}
tr {
  height: 50px;
}
th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
td {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.quantity-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.quantity-value {
  margin: 15px 10px;
  display: flex;
  justify-content: center;
}

.quantity-button {
  border-radius: 50%;
  background-color: white;
  border-color: black;
  margin: 2px 0px;
}

.quantity-button:hover {
  background-color: coral;
}
