.game-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 120px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.image-container {
  height: 100px;
  width: auto;
}

.name-container {
  width: 100%;
  border: 1px solid black;
}

.name-container p {
  display: flex;
  justify-content: center;
}

.price {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}
.price p {
  color: white;
}
