.game-card-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 130px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
.image-container {
  height: 100px;
  width: auto;
}

.name-container {
  width: 100%;
  border: 1px solid black;
}

.name-container p {
  display: flex;
  justify-content: center;
}

.price {
  display: flex;
  justify-content: center;
  background-color: black;
  width: 100%;
  border-radius: 0px 0px 20px 20px;
}
.price p {
  color: white;
}

.plus-img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 8px 5px;
}

.plus-img:hover {
  height: 25px;
  width: 25px;
  transform: scale(1.25);
}

.add-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  width: 100%;
}

.game-image-container {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 300px;
}

.game-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.photo-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  justify-content: space-between !important;
}

.update-item-button {
  background-color: white;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border-color: green;
  color: green;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em green;
}

.update-item-button:hover {
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}
.remove-item-button {
  background-color: white;
  height: 40px;
  margin: 5px 0px;
  border-radius: 5px;
  border-color: red;
  color: red;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em red;
}

.remove-item-button:hover {
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}
