.form-dialog {
  width: 100%;
  max-width: 450px;
}
.modal-header {
  background: #ff5108;
}
.modal-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: center;
}
.modal-body h2 {
  font-size: 24px;
  color: black;
  margin: 0px;
}
.modal-body .subtitle {
  margin-top: 0;
  margin-bottom: 36px;
}

.modal-dialog-center {
  position: relative;
  margin: 30px auto;
}
.modal-header .close {
  margin-top: -2px;
  outline: none;
  opacity: 1;
  color: #fff;
}
.modal-header {
  background: #fff;
}
.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: 0;
}
.modal-body {
  padding: 9px 10px;
}
.modal-header .close {
  color: #151515;
}
.header {
  padding-right: 17px;
}
.auth-button {
  background-color: aqua;
  height: 25px;
  width: 100px;
  border-radius: 10px;
  border-color: black;
  color: black;
}

.auth-button:hover {
  background-color: white;
}
.button-container {
  display: flex;
  justify-content: center;
}

.menu-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.auth-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-link-container {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.cart-img {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 5px 0px;
}
.cart-img:hover {
  transform: scale(1.25);
}
